/*personnalisation du menu header et footer*/
.menu-item a {
  text-decoration: none !important;
  font-family: space-mono !important;
  border-bottom: none !important;
  font-size: 16px !important;
}
/* Styles pour la modale */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  text-align: center;
}

/* Styles pour le bouton de fermeture */
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

/* Styles pour le formulaire */
.wpforms-container-full .wpforms-form input[type="submit"] {
  background-color: #337ab7;
  font-family: poppins !important;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.wpforms-container-full .wpforms-form input[type="submit"]:hover {
  background-color: #23527c;
}
.wpforms-container .wpforms-field-label {
  position: absolute !important;
  top: -10px;
  font-family: poppins;
  left: -1px !important;
  font-weight: 400 !important;
}
.modal h2 {
  font-family: poppins !important;
}
button#wpforms-submit-137.wpforms-submit {
  background-color: #e00000 !important;
}
